@font-face {
    font-family: "Sui-Generis";
    src: url("../../../_shared_assets/fonts/Sui\ Generis\ Rg.otf");
}

@font-face {
    font-family: "ClashDisplay";
    src: url("../../../_shared_assets/fonts/ClashDisplay-Variable.ttf");
}

@font-face {
    font-family: "Amiri";
    src: url("../../../_shared_assets/fonts/Amiri.ttf");
}

#main {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    display: flex;
    font-family: "ClashDisplay";
    color: white;
    font-size: 24px;
}

.foreground {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: scaleX(-1);
    filter: blur(5px);
}

#player {
    z-index: 1;
    position: absolute;
    top: 328px;
    left: 98px;
    color: black;
    display: flex;
    flex-direction: column;
}

#playerPic {
    border: 6px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 298px;
    height: 220px;
    object-fit: contain;
    object-position: center;
    background-color: black;

}

#playerSection {
    border: 6px solid black;
    border-width: 0px 6px 6px 6px;
    /* 25px top, 10px right, 4px bottom and 35px left */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: black;
    color:white;
    width: 298px;
    height: 218px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerName {
    font-family: "Amiri";
    font-weight:600;
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: fit-content !important;
    text-align: center;
    text-wrap: nowrap;
}

#playerNames {
    font-family: "ClashDisplay";
    font-weight:500;
    transform: translateY(20px);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 120px;
    text-align: center;
    width: 266px;
    overflow-wrap: break-word;
    white-space: normal;
}

#seedSection {
    display: flex;
    margin-inline: 10px;
    height: 80px;
    align-items: end;
    justify-content: center;
    margin-bottom: 5px;
}

#seedTexts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 120px;
}

#seedText1 {
    font-family: "Amiri";
    font-weight:500;
    text-align: right;
    padding-right: 15px;
    margin-top: 38px;
}

#seedText2 {
    font-family: "Amiri";
    font-weight:500;
    margin-left: 10px;
}

#seedNumber {
    font-family: "ClashDisplay";
    font-weight: 600;
    font-size: 100px;
    margin-bottom: -24px;
    display: flex;
    align-items: end;
    height: 140px !important;
    width: fit-content;
}

#qualsSection {
    margin-top: 23px;
    background-color: white;
    width: 298px;
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2px;
    font-size: 32px;
    border: 6px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: black;
    color:white;
}

#rankSection,
#avgSection {
    display: flex;
    justify-content: space-between;
    margin-inline: 10px;
}

#rankText,
#avgText {
    font-family: "Amiri";
    font-weight:500;
}

#rank,
#avg {
    font-family: "ClashDisplay";
}

#result {
    position: absolute;
    top: 213px;
    left: 470px;
}

#resultContainer {
    display: flex;
    flex-direction: column;
}

.map {
    height: 83.6px;
    margin-bottom: 10px;
    display: flex;
    font-weight: 500;
}

.mapSide {
    display: flex;
    height: inherit;
    width: 860px;
    display: flex;
    /* background-color: white; */
    background-image: url(../../../_shared_assets/design/rgts/seeding-pick-bg.png);
    color: black;
    overflow: hidden;
}

.mapLeft {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7px;
    font-family: "ClashDisplay";
    z-index: 2;
}

.mapRight {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-family: "ClashDisplay";
    z-index: 2;
}

.mapSong {
    width: fit-content;
    font-size: 37px;
    font-weight: 600;
}

.mapArtist {
    font-size: 23px;
    margin-top: -6px;
}

.mapRank {
    margin-right: 8px;
    font-size: 21px;
    margin-bottom: -12px;
    margin-top: 8px;
}

.mapScore {
    margin-right: 7px;
    font-size: 50px;
    color: black;
    font-weight: 600;
}

.mapSource {
    /* position: absolute; */
    height: inherit;
    width: inherit;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    opacity: 0.25;
    overflow: hidden;
    filter: blur(3px);
}

.mapMod {
    height: 98px;
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
    font-family: "ClashDisplay";
    font-size: 47px;
    margin-left: 6px;
    margin-top: -4px;
    color: black;
    font-weight: 500;
}

/* CONTROLLER */
#controller {
    position: absolute;
    left: 1920px;
    top: 0px;
    background-color: rgb(39, 39, 39);
    width: 500px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "ClashDisplay";
    color: white;
    font-size: 24px;
    user-select: none;
    /* Disable text selection */
}

.button {
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    margin-block: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "ClashDisplay";
    color: rgb(0, 0, 0);
    font-size: 32px;
    padding-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    padding-block: 10px;
    user-select: none;
    /* Disable text selection */
    transition: ease-in-out 500ms;
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(250px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}