@font-face {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    src: url("../../../_shared_assets/fonts/StretchPro.otf");
}

@font-face {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    src: url("../../../_shared_assets/fonts/StretchPro.otf");
    font-variant-ligatures: none;
}

@font-face {
    font-variant-ligatures: none;
    font-family: "Outfit-Light";
    src: url("../../../_shared_assets/fonts/StretchPro.otf");
}

@font-face {
    font-variant-ligatures: none;
    font-family: "Outfit-Regular";
    src: url("../../../_shared_assets/fonts/StretchPro.otf");
}

@font-face {
    font-variant-ligatures: none;
    font-family: "Engravers-MT";
    src: url("../../../_shared_assets/fonts/engravers-mt.ttf");
}

@font-face {
    font-variant-ligatures: none;
    font-family: "LINESeed-Bold";
    src: url("../../../_shared_assets/fonts/LINESeedJP_TTF_Bd.ttf");
}

body {
    background-color: rgb(20, 20, 20);
}

#main {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 500px;
    display: flex;
    font-variant-ligatures: none;
    font-family: "Outfit-Light";
    color: white;
    font-size: 24px;
    user-select: none;
}

#preLoading {
    position: absolute;
    width: 2920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: 500ms ease-in-out;
    /* display:none; */
}

#mainMatchScene {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.foreground {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 500ms cubic-bezier(0.000, 0.125, 0.000, 1.005);
}

#bg_match {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}

#mappoolScene {
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
}

/* OVERVIEW SCENE */
#overviewScene {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    opacity: 1;
}

#overviewStage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1120px;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 150px;
    color: white;
    display: flex;
    align-items: end;
}

#overviewDetails {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1120px;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 150px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;
}

#mappoolContainer {
    height: fit-content;
    width: 1840px;
    margin-top: 122px;
    margin-inline: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 780px;
    opacity: 1;
}

.mapContainerOverview {
    display: flex;
    justify-content: center;
    width: 1840px;
    height: fit-content;
    flex-wrap: wrap;
}

.clickerOverview {
    user-select: none;
    width: 466px;
    height: 89px;
    display: flex;
    position: relative;
    margin-inline: 70px;
    margin-block: 13.5px;
}

.mapDetailsOverview {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    font-variant-ligatures: none;
    font-family: "Outfit-Regular";
    color: black;
    z-index: 3;
}

.mapTitleContainerOverview {
    width: inherit;
    height: 35px;
    position: relative;
}

.mapTitleOverview {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    width: 75%;
    height: 35px;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.mapArtistContainerOverview {
    width: inherit;
    height: 21px;
    position: relative;
}

.mapArtistOverview {
    width: 90%;
    height: 21px;
    font-size: 14px;
    margin-left: 7px;
    margin-top: -1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mapBottomOverview {
    display: flex;
    margin-top: 1px;
}

.mapMapperContainerOverview {
    display: flex;
    flex-direction: column;
    width: 145px;
}

.mapMapperTitleOverview,
.mapDifficultyTitleOverview {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 10px;
    margin-left: 7px;
}

.mapMapperOverview,
.mapDifficultyOverview {
    font-variant-ligatures: none;
    font-family: "Outfit-Regular";
    font-size: 10px;
    margin-left: 7px;
}

.mapDifficultyOverview {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mapModpoolOverview {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: end;
    font-variant-ligatures: none;
    font-family: 'Outfit-ExtraBold';
    color: white;
    font-size: 54px;
    margin-top: 14px;
    z-index: 2;
}

.mapOverlayOverview {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(192, 255, 38, 1), rgba(192, 255, 38, 0.8), rgba(192, 255, 38, 0.6), rgba(192, 255, 38, 0));
    ;
}

.mapSourceOverview {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
    /* background-image: url(../../_shared_assets/design/main_banner.png); */
}

.mapWin {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 34px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-variant-ligatures: none;
    font-size: 20px;
    font-family: 'Outfit-ExtraBold';
    color: black;
    background-color: white;
    z-index: 2;
    opacity: 0;
    transition: ease-in-out 500ms;
}

.mapPlayerText {
    font-size: 20px;
    margin-right:2px;
}

.mapWinText {
    font-size: 12px;
    color: #c0ff26;
}

.mapPickIcon {
    position: absolute;
    top: 34.5px;
    left: -81px;
    width: 628px;
    height: 26px;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    opacity: 0;
    transition: 500ms ease-in-out;
}

.mapBanContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: 500ms ease-in-out;
}

.mapBanPlayer {
    width: 50px;
    object-fit: contain;
    object-position: center;
    margin-right: 10px;
}

.mapBanText {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 30px;
    color: white;
}

.mapPickText {
    position: absolute;
    bottom: -10px;
    left: 5px;
    z-index: 4;
    font-size: 16px;
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding-inline: 20px;
    padding-block: 4px;
    box-shadow: 2px -2.5px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    color: #c0ff26;
    opacity: 0;
    transition: 500ms ease-in-out;
}

/* PICK QUEUE */
#mappoolQueue {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
    /* transform: translateY(1080px); */
    opacity: 0;
}

#queueForeground {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
    object-fit: contain;
    object-position: center;
    z-index: 1;
}

#playerOneQueue {
    position: absolute;
    left: 238px;
    top: 253px;
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerTwoQueue {
    position: absolute;
    left: 1216px;
    top: 253px;
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tbQueue {
    position: absolute;
    left: 727px;
    top: 818px;
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerOneBan {
    position: absolute;
    left: 238px;
    top: 127px;
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerTwoBan {
    position: absolute;
    left: 1216px;
    top: 127px;
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clickerQueue {
    user-select: none;
    width: 466px;
    height: 95px;
    display: flex;
    position: relative;
    margin-bottom: 5px;
    opacity: 1;
    transition: 500ms ease-in-out;
    z-index: 5;
}

.mapPickIconQueueLeft {
    position: absolute;
    top: 19px;
    right: -100px;
    width: 82px;
    height: 57px;
    object-fit: contain;
    object-position: center;
    z-index: 2;
    opacity: 0;
    transition: 500ms ease-in-out;
}

.mapPickIconQueueRight {
    position: absolute;
    top: 19px;
    left: -100px;
    width: 82px;
    height: 57px;
    object-fit: contain;
    object-position: center;
    z-index: 2;
    opacity: 0;
    transition: 500ms ease-in-out;
}

/* UPCOMING MAPPOOL */
#mappoolUpcoming {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
    /* transform: translateY(1080px); */
    opacity: 0;
    z-index: 2;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

#upcomingContainer {
    height: fit-content;
    width: 1750px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom:50px;
}

#upcomingTexts {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-variant-ligatures: none;
    font-family: "Engravers-MT";
    font-size: 150px;
    margin-bottom: 62px;
    height:95px;
    color: black;
    transform: scaleY(1.5);
    background-color: #c0ff26;
}

#upcomingPick {
    margin-left: -9px;
}

#upcomingPickId {
    margin-right: -9px;
}

#upcomingMap {
    position: relative;
    width: inherit;
    height: 411px;
    margin-top: -40px;
}

#upcomingDim {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-left: 8px solid #c0ff26;
    border-right: 8px solid #c0ff26;
    border-bottom: 8px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#upcomingSource {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0px;
    left: 0px;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(65%);
}

#upcomingSong {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
}

#upcomingSongText {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    font-size: 48px;
}

#upcomingArtistText {
    font-variant-ligatures: none;
    font-family: "Outfit-Light";
    font-size: 27px;
}

#upcomingTags {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 250px;
}

#upcomingCustomTag,
#upcomingCollabTag {
    font-variant-ligatures: none;
    font-family: "Outfit-Light";
    font-size: 24px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #c0ff26;
    padding-inline: 10px;
    padding-block: 2px;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
}

#upcomingTriangle {
    margin-top: 10px;
}

#upcomingPickPlayer {
    z-index: 2;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 300px;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    color: white;
}

#upcomingPickPlayerSource {
    height: 50px;
    object-fit: contain;
    object-position: center;
    margin-left: 10px;
}


#upcomingDetails {
    display: flex;
    padding-inline: 50px;
    padding-block: 10px;
    border-left: 8px solid #c0ff26;
    border-right: 8px solid #c0ff26;
    border-bottom: 8px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: black;
    width:inherit;
    justify-content: center;
    align-items: center;
}

.upcomingDetailsColumn {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #c0ff26;
    justify-content: center;
    align-items: center;
}

.upcomingStats {
    display: flex;
}

.upcomingDetailsText {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    font-size: 31px;
    margin-right: 20px;
}

.upcomingDetailsStats {
    font-size: 31px;
    margin-right: 55px;
}

#upcomingLengthText {
    margin-right: 0;
}

#upcomingMapper,
#upcomingDifficulty {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
}

#upcomingDifficulty {
    width: 350px;
}

.upcomingDetailsText2 {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 13.5px;
}

.upcomingDetailsStats2 {
    font-size: 13.5px;
}

/* MATCH FOREGROUND */
#matchForeground {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
    /* transform: translateY(1080px); */
    z-index: 3;
    opacity: 1;
}

#matchTop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
}

#matchTopFg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
    object-fit: cover;
    object-position: center;
}

#matchSongContainer {
    display: flex;
    position: absolute;
    top: 0px;
    left: 236px;
}

#matchPick {
    position: relative;
    width: 607px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#matchSource {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
}

#matchPickId {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    color: white;
    z-index: 4;
    font-size: 64px;
    width: 150px;
    text-align: center;
}

.matchSongStatContainer {
    color: white;
    display: flex;
    z-index: 4;
    /* flex-direction: column; */
    /* margin-right:20px; */
    margin-block: 5px;
}

.matchSongStatText {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    font-size: 15px;
}

.matchSongStat {
    font-size: 15px;
    margin-left: 10px;
}

#matchSongDetails {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    overflow: hidden;
    position: relative;
}

#matchSongPart1 {
    opacity: 1;
    transition: 500ms ease-in-out;
}

#matchSongTitle {
    font-variant-ligatures: none;
    font-family: "Outfit-Light";
    font-size: 27px;
    margin-top: 6px;
    white-space: nowrap;
    width: fit-content;
}

#matchSongTitleDelay {
    font-variant-ligatures: none;
    font-family: "Outfit-Light";
    font-size: 27px;
    margin-top: 6px;
    display: none;
    white-space: nowrap;
    position: absolute;
    width: fit-content;
}

#matchArtistTitle {
    font-variant-ligatures: none;
    font-family: "Outfit-Light";
    font-size: 15px;
}

#matchSubtitleDetails1 {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    transition: 500ms ease-in-out;
    opacity: 1;
    /* display:none; */
}

#matchSubtitleDetails2 {
    display: flex;
    padding-block: 15px;
    transition: 500ms ease-in-out;
    opacity: 0;
    /* display:none; */
    /* transform:translateY(-32px); */
    position: absolute;
    height: 70px;
    /* display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  */
}

.matchSongStatColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-right: 20px;
    color: white;
    font-size: 18px;
}

#matchMapper,
#matchDifficulty {
    margin-right: 22px;
    color: white;
}

#matchMapper {
    width: 100px;
    color: white;
}

#matchDifficulty {
    width: 300px;
    color: white;
}

.matchSubtitle {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    font-size: 9px;    
}

#matchMapperTitle,
#matchDifficultyTitle {
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#matchStageContainer {
    font-variant-ligatures: none;
    font-family: "Outfit-Regular";
    font-size: 34px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#matchStage {
    width: fit-content;
    transform: scaleX(0.90);
    height: 24%;
    font-family: "Engravers-MT";
    font-size: 34px;
    color: black;
    background-color: #c0ff26;
    letter-spacing: 5px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#matchBottom {
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: inherit;
    height: 148px;
    background-color: black;
    display: flex;
    color: #c0ff26;
    justify-content: space-between;
    border: 8px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottomPlayerOne {
    display: flex;
    position: relative;
    width: 596px;
    align-items: center;
}

#bottomPlayerTwo {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 596px;
    align-items: center;
}

.bottomPfp {
    height: fit-content;
    width: 138px;
    height:80px;
    margin: 10px;
    object-fit: contain;
    object-position: center;
}

#bottomT1Text {
    position: absolute;
    top: -60px;
    left: 26px;
    color: black;
    background-color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Engravers-MT";
    font-size: 46px;
    width: 18%;
    height:21%;
    padding-bottom:2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomT2Text {
    position: absolute;
    top: -60px;
    right: 26px;
    color: black;
    background-color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Engravers-MT";
    font-size: 46px;
    width: 18%;
    height:21%;
    padding-bottom:2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomT1Pick {
    position: absolute;
    top: -53px;
    right: 0;
    display: flex;
    align-items: center;
    height: 41px;
    transition: 500ms ease-in-out;
}

#bottomT2Pick {
    position: absolute;
    top: -53px;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 41px;
    opacity: 0;
    transition: 500ms ease-in-out;
}

.bottomPickText {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    color: #c0ff26;
    font-size: 30px;
    margin-inline: 13px;
}

.bottomPickArrow {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    color: #c0ff26;
    font-size: 57px;
}

#bottomPlayerOneDetails {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-left: 23px;
}

#bottomPlayerTwoDetails {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 23px;
}

#bottomScoreRowLeft {
    display: flex;
    margin-left: -4px;
    margin-bottom: 5px;
}

#bottomScoreLeft {
    display: flex;
}

#bottomScoreRowRight {
    display: flex;
    flex-direction: row-reverse;
    margin-right: -4px;
    margin-bottom: 5px;
}

#bottomScoreRight {
    display: flex;
}

.score {
    width:24px;
    height:24px;
    border: 4px solid #c0ff26;
    background-color: rgba(192, 255, 38, 0);
    margin-inline: 3px;
    transition: 250ms ease-in-out;
}

.scoreFill {
    background-color: rgba(192, 255, 38, 1);
}

#bottomScoreLeft>.score.scoreFillAnimate {
    animation: addScore 1000ms forwards;
}

#bottomScoreRight>.score.scoreFillAnimate {
    animation: addScore 1000ms forwards;
}

#bottomScoreLeft>.score.scoreNoneAnimate {
    animation: removeScore 500ms forwards;
}

#bottomScoreRight>.score.scoreNoneAnimate {
    animation: removeScore 500ms forwards;
}

#bottomPlayerOneName,
#bottomPlayerTwoName {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 26px;
    white-space: nowrap;
}

#bottomPlayerOnePick,
#bottomPlayerTwoPick {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    color: white;
    background-color: black;
    border-radius: 25px;
    padding-inline: 15px;
    padding-block: 3px;
    transition: 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 16px;
    margin-inline: 4px;
}

#bottomMiddleContainer {
    position: relative;
    width: 728px;
    height: inherit;
}

#bottomMatch {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 140px;
    width: 728px;
    background-color: black;
    z-index: 3;
    transform: translateY(148px);
    border: none;
    border-bottom: 8px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottomMatchProgressBar,
#bottomMatchResults {
    position: absolute;
    top: 0px;
    left: 0px;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#bottomMatchResults {
    opacity: 0;
}

#bottomResultsTop {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: -16px;
}

#bottomResultsBottom {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 64px;
}

#bottomSongProgressText {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 16px;
    margin-bottom: 24px;
}

#bottomSongProgressLabels {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 550px;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 16px;
    margin-bottom: 5px;
}

#bottomSongPercentage {
    width: 300px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: -2px;
}

#bottomProgressBar {
    position: relative;
    width: 550px;
    height: 11px;
    border: solid 2px #c0ff26;
    border-radius: 20px;
}

#bottomProgressBarContent {
    position: absolute;
    top: 0px;
    left: 0px;
    height: inherit;
    width: 200px;
    background-color: #c0ff26;
}

#bottomChatText {
    font-variant-ligatures: none;
    font-family: "Engravers-MT";
    font-size: 57px;
    color: black;
    position: absolute;
    top: 1px;
    right: -25px;
    background-color: #c0ff26;
    height:25%;
    width:27%;
    transform: scaleX(0.75);
    display:flex;
    align-items: center;
    justify-content: center;
}

#effectsOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
}

#effectsShimmer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
    opacity: 0;
}

#effectsLeftShimmer {
    position: absolute;
    top: 0px;
    left: -100px;
    height: 1080px;
    width: 100px;
    box-shadow: 120px 0 200px rgba(192, 255, 38, 0.5);
    /* Left glow */
}

#effectsRightShimmer {
    position: absolute;
    top: 0px;
    right: -100px;
    height: 1080px;
    width: 100px;
    box-shadow: -120px 0 200px rgba(192, 255, 38, 0.5);
    /* Left glow */
}

/* MATCH */
#matchScene {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
    z-index: 1;
}

#matchScoreBoard {
    position: absolute;
    top: 849px;
    left: 0px;
    height: 83px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    background-color: black;
    border-top: 8px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#matchWinningBoard {
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    height: 83px;
    width: inherit;
}

#matchWinningLeft {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: end;
    position: relative;
}

#matchWinningRight {
    width: 50%;
    height: inherit;
    display: flex;
    position: relative;
}

#matchWinningLeftWinText {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    width: 100px;
    height: 34px;
    justify-content: center;
    align-items: center;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    color: #c0ff26;
    background-color: black;
    z-index: 2;
    opacity: 0;
    transition: 500ms ease-in-out;
}

#matchWinningRightWinText {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100px;
    height: 34px;
    justify-content: center;
    align-items: center;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    color: #c0ff26;
    background-color: black;
    z-index: 2;
    opacity: 0;
    transition: 500ms ease-in-out;
}

#matchWinningLeftContent {
    transition: 500ms cubic-bezier(0.000, 0.125, 0.000, 1.005);
    /* width:100%; */
    height: inherit;
}

#matchWinningRightContent {
    transition: 500ms cubic-bezier(0.000, 0.125, 0.000, 1.005);
    /* width:100%; */
    height: inherit;
}

#matchOneScoreContainer {
    transition: 1500ms cubic-bezier(0.000, 0.125, 0.000, 1.005);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-left: 8px solid #c0ff26;
    border-right: 8px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#matchOneScore {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 45px;
    /* margin-right: 28px; */
    color: #c0ff26;
    width: fit-content;
    z-index: 0;
    transition: 1500ms cubic-bezier(0.000, 0.125, 0.000, 1.005);
    /* transform: TranslateX(450px); */
    /* transform: TranslateX(570px); */
}

#matchTwoScoreContainer {
    transition: 1500ms cubic-bezier(0.000, 0.125, 0.000, 1.005);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-left: 8px solid #c0ff26;
    border-right: 8px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#matchTwoScore {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 45px;
    /* margin-left: 28px; */
    color: #c0ff26;
    width: fit-content;
    z-index: 0;
    transition: 1500ms cubic-bezier(0.000, 0.125, 0.000, 1.005);
}

#matchOneLead,
#matchTwoLead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: inherit;
    color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 72px;
    opacity: 0;
}

#matchScoreBar {
    width: 890px;
    display: flex;
}

#matchScoreLeftSection {
    width: 50%;
    display: flex;
    justify-content: end;
}

#matchScoreLeftContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    transition: 250ms ease-in-out;
}

#matchScoreLeftContent {
    height: 29px;
    background-color: #c0ff26;
    /* border-radius: 20px 0px 0px 20px; */
    transition: 250ms ease-in-out;
}

#matchScoreLeftText {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    color: #c0ff26;
    font-size: 24px;
    margin-top: 6px;
    transition: 250ms ease-in-out;
    text-align: center;
    width: fit-content;
    transition: 250ms ease-in-out;
    opacity: 0;
}

#matchScoreRightSection {
    width: 50%;
    display: flex;
}

#matchScoreRightContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    transition: 250ms ease-in-out;
}

#matchScoreRightContent {
    height: 29px;
    background-color: #c0ff26;
    /* border-radius: 0px 20px 20px 0px; */
    transition: 250ms ease-in-out;
}

#matchScoreRightText {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    margin-top: 6px;
    color: #c0ff26;
    transition: 250ms ease-in-out;
    text-align: center;
    width: fit-content;
    transition: 250ms ease-in-out;
    opacity: 0;
}

#matchClients {
    position: absolute;
    left: 0px;
    top: 129px;
    width: 1920px;
    height: 720px;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

#matchClientLeft,
#matchClientRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#matchClientLeft > .matchClient:first-child,
#matchClientRight > .matchClient:first-child {
    flex: 0 0 100%;
    margin-left: 480px;
}

#matchClientLeft > .matchClient:not(:first-child),
#matchClientRight > .matchClient:not(:first-child) {
    flex: 0 0 50%;
}

.matchClient {
    width: 480px;
    height: 360px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* border: 4px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
}

.matchClientDetails {
    transition: 500ms ease-in-out;
    position: absolute;
    left: 0px;
    top: 0px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 2;
}

.matchClientLeft,
.matchClientRight {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    margin-bottom: 15px;
}

.matchClientRight {
    align-items: end;
}

.matchClient100,
.matchClientMiss,
.matchClientUr,
.matchClientName {
    background-color: white;
    height: 33px;
    width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 16px;
    color: black;
    margin-top: 8px;
    z-index: 2;
}

.matchClientName {
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-right: 19px;
}

.matchClientUr {
    margin-right: 19px;
}

.matchClientText {
    margin-right: 18px;
    font-size:16px;
}

.matchClient100Text {
    margin-left: 18px;
    color: #FF9000;
}

.matchClientMissText {
    margin-left: 18px;
    color: #FF0000;
}

.matchClientUrText {
    margin-left: 18px;
}

.matchClientMissGlow {
    box-shadow: inset 50px 0 200px rgba(184, 41, 41, 0.7),
        /* Left Glow */
        inset -50px 0 200px rgba(184, 41, 41, 0.7);
    /* Right Glow */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 480px;
    height: 360px;
    z-index: 0;
    opacity: 0;
}

/* CHATS */
#bottomChat {
    position: absolute;
    top: -6px;
    left: 0px;
    height: inherit;
    width: 728px;
    background-color: black;
    display: flex;
    align-items: center;
    border: 8px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#chats {
    margin-left: 20px;
    width: 550px;
    height: 85%;
    overflow: hidden;
    /* Hide scrollbars */
    font-size: 16px;
    font-variant-ligatures: none;
    font-family: 'LINESeed-Bold', sans-serif;
    color: white;
}

#chatsDebug {
    margin-top: 10px;
    width: 410px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    /* Hide scrollbars */
    font-size: 16px;
    font-variant-ligatures: none;
    font-family: 'LINESeed-Bold', sans-serif;
    color: white;
    background-color: black;
}

.chat {
    display: flex;
    text-align: left;
    color: #ffffff;
}

.chatTime {
    width: 45px;
    color: #ffffff;
    margin-right: 10px;
}

.chatName {
    color: #ffffff;
    white-space: nowrap;
    width: max-content;
}

.chatText {
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.unknown {
    color: #ff0000;
}

.bot {
    color: #FF66AA;
}

.left {
    color: #FF9000;
}

.right {
    color: #FF9000;
}

/* INTRO */
#introScene {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#introVSText {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 285px;
    margin-inline: 160px;
}

.introPlayer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    background-color: black;
    color: #c0ff26;
}

.introPlayerPfp {
    object-fit: contain;
    object-position: center;
    background-color: black;
    width: 300px;
    height: 206px;
    border: 6px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.introPlayerDetails {
    margin-top: -2px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: #c0ff26;
    align-items: center;
    padding-block: 10px;
}

.introPlayerName {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-left: 6px solid #c0ff26;
    border-bottom: 6px solid #c0ff26;
    border-right: 6px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height:46px;
}

#introPlayerOneName,
#introPlayerTwoName {
    width:fit-content;
    white-space: nowrap;
}

.introPlayerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-left: 6px solid #c0ff26;
    border-top: 6px solid #c0ff26;
    border-right: 6px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.introRosterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
    height: fit-content;
    justify-content: center;
    border-left: 6px solid #c0ff26;
    border-bottom: 6px solid #c0ff26;
    border-right: 6px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.introPlayerText {
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    margin-inline: 3px;
    text-transform: uppercase;
}

.introPlayerStatText {
    font-variant-ligatures: none;
    margin-inline:3px;
}

#introPlayerTwoRoster,
#introPlayerOneRoster {
    text-align: center;
    overflow-wrap: break-word;
    white-space: normal;
    width:90%;
    font-size:16px;
}

#matchHistoryScene {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#matchHistoryText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 36px;
    color: #c0ff26;
    background-color: black;
    width: 392px;
    height: 58px;
    margin-top: -30px;
    opacity: 0;
}

#matchHistoryMainContainer {
    position: absolute;
    top: 148px;
    left: 90px;
    height: 896px;
    width: 1750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#matchHistoryPlayerContainer,
#matchHistoryContainer {
    display: flex;
    justify-content: space-between;
}

#matchHistoryLeftPlayer {
    display: flex;
    opacity: 0;
}

#matchHistoryLeftPlayerSource {
    border: solid 4px black;
    object-fit: contain;
    background-color: black;
    object-position: center;
    width: 82px;
    height: 82px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#matchHistoryLeftPlayerDetails {
    position: relative;
    background-color: black;
    height: 82px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #c0ff26;
    margin-left: -2px;
}

#matchHistoryLeftPlayerName {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    margin-left: 13px;
}

#matchHistoryLeftPlayerSeed {
    font-size: 18px;
    margin-left: 13px;
    margin-top: -3px;
}

#matchHistoryRightContainer {
    position: absolute;
    top: 148px;
    right: 90px;
    height: 896px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#matchHistoryRightPlayer {
    display: flex;
    flex-direction: row-reverse;
    opacity: 0;
}

#matchHistoryRightPlayerSource {
    border: solid 4px black;
    object-fit: contain;
    background-color: black;
    object-position: center;
    width: 82px;
    height: 82px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#matchHistoryRightPlayerDetails {
    position: relative;
    background-color: black;
    height: 82px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: #c0ff26;
    margin-right: -2px;
}

#matchHistoryRightPlayerName {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    margin-right: 13px;
}

#matchHistoryRightPlayerSeed {
    font-size: 18px;
    margin-right: 13px;
    margin-top: -3px;
}

#matchHistoryLeft {
    display: flex;
    flex-direction: column;
}

#matchHistoryRight {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.historyLeft {
    margin-top: 36px;
    display: flex;
    height: fit-content;
    width: fit-content;
    opacity: 0;
}

.historyRoundLeft {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 48px;
    width: 200px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.historyPlayerLeft {
    background-color: black;
    color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    width: 370px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 8px;
}

.historySourceLeft {
    border: solid 4px black;
    object-fit: contain;
    background-color: #c0ff26;
    object-position: center;
    width: 54px;
    height: 54px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: -2px;
}

.historyWinDetailsLeft {
    display: flex;
    flex-direction: column;
    height: 54px;
    margin-left: 37px;
}

.historyWinTextLeft {
    background-color: black;
    color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 16px;
    width: 93px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historyWinScoreLeft {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    margin-left: -2px;
    margin-top: 2px;
}

.historyRight {
    margin-top: 36px;
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    width: fit-content;
    opacity: 0;
}

.historyRoundRight {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 48px;
    width: 200px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.historyPlayerRight {
    background-color: black;
    color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    width: 370px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-inline: 8px;
}

.historySourceRight {
    border: solid 4px black;
    object-fit: contain;
    background-color: black;
    object-position: center;
    width: 54px;
    height: 54px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-right: -2px;
}

.historyWinDetailsRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 54px;
    margin-right: 37px;
}

.historyWinTextRight {
    background-color: black;
    color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 16px;
    width: 93px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historyWinScoreRight {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    margin-right: -2px;
    margin-top: 2px;
}

/* RESULTS */
#resultScene {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    display: flex;
    opacity: 0;
}

#resultAsset_1,
#resultAsset_2 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
}

#resultScoreline {
    height: 58px;
    width: 1700px;
    display: flex;
    position: absolute;
    align-items: center;
    top: 247px;
    left: 49px;
    color: #c0ff26;
}

#resultsStaticText {
    background-color: #c0ff26;
    color: black;
    font-variant-ligatures: none;
    font-family: "Engravers-MT";
    transform:scaleY(1.5);
    font-size: 47px;
    height:28px;
    padding-bottom:2px;
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultScorelinePlayerOne {
    display: flex;
    align-items: center;
}

#resultScorelinePlayerTwo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#resultScorelineLine {
    display: flex;
    margin-inline: 20px;
    align-items: center;
}

.resultText {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 48px;
}

.resultScorelineSource {
    margin-inline: 30px;
    width: 58px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.resultScorelineText {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 30px;
}

#resultQueueContainer {
    display: flex;
    position: absolute;
    top: 400px;
    left: 240px;
    flex-direction: column;
    width: fit-content;
}

#resultQueueTop {
    display: flex;
    align-items: end;
    width: fit-content;
}

#resultBan {
    display: flex;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: fit-content;
}

.resultContainerSong {
    height: 144px;
    width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.resultContainerPick {
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 36px;
    color: #c0ff26;
    z-index: 2;
    border: 4px solid #c0ff26;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 144px;
    width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultContainerSource {
    height: 144px;
    width: 144px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    object-fit: cover;
    filter: brightness(50%) blur(4px);
    z-index: 1;
}

.resultContainerBottom {
    display: flex;
    width: 144px;
    height: 39px;
}

.resultContainerPlayer {
    width: 39px;
    height: 39px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 18px;
}

.resultContainerText {
    width: 105px;
    height: 39px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 26px;
}

#resultPlayerPick {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 20px;
    color: #c0ff26;
}

.resultPlayerPickSource {
    width: 42px;
    height:28px;
    object-fit: cover;
    object-position: center;
    background-color: black;
}

.resultPlayerText {
    color: #c0ff26;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 24px;
    margin-left: 10px;
    margin-right: 20px;
}

#resultPickContainer {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-top: 67px;
}

#resultPicks {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#resultPickOne {
    display: flex;
    margin-bottom: 26px;
}

#resultPickTwo {
    display: flex;
}

#resultPickTb {
    margin-left: 72px;
}

#resultSceneBanText {
    position: absolute;
    top: 404px;
    left: 75px;
    width: 113px;
    height: 22px;
    padding-bottom:1px;
    background-color: #c0ff26;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant-ligatures: none;
    font-family: "Engravers-MT";
    font-size: 36px;
    transform: scaleY(1.5);
}

#resultScenePickText {
    position: absolute;
    top: 654px;
    left: 75px;
    width: 113px;
    height: 22px;
    padding-bottom:1px;
    background-color: #c0ff26;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant-ligatures: none;
    font-family: "Engravers-MT";
    font-size: 36px;
    transform: scaleY(1.5);
}

#resultStageText {
    position: absolute;
    right: 0px;
    bottom: -20px;
    font-variant-ligatures: none;
    font-family: "Outfit-ExtraBold";
    font-size: 78px;
    text-align: right;
    color: #c0ff26;
}

/* CONTROLLER */
#controller {
    position: absolute;
    left: 2420px;
    top: 0px;
    background-color: rgb(39, 39, 39);
    width: 500px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#debugController {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(39, 39, 39);
    width: 500px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.buttons {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.title {
    font-variant-ligatures: none;
    font-family: "Outfit-Regular";
    color: white;
    font-size: 18px;
    user-select: none;
    /* Disable text selection */
}

.button {
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    margin-block: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant-ligatures: none;
    font-family: "Outfit-Bold";
    color: rgb(0, 0, 0);
    font-size: 26px;
    padding-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    padding-block: 10px;
    user-select: none;
    /* Disable text selection */
    transition: ease-in-out 500ms;
}

#controllerArrow,
#controllerResults {
    background-color: rgb(67, 67, 67);
    color: rgb(36, 36, 36);
}

#controllerAutoScene,
#controllerAutoPick {
    background-color: rgb(143, 202, 148);
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(250px);
    }
}

@keyframes fadeOutDownFurther {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(500px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-250px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(250px);
    }
}

@keyframes fadeInRightHistory {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeftHistory {
    0% {
        opacity: 0;
        transform: translateX(400px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRightHistory {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-400px);
    }
}

@keyframes fadeOutLeftHistory {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(400px);
    }
}

@keyframes fadeInOverviewBeatmap {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInPickIcon {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes mappoolSceneOut {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(1920px);
    }
}

@keyframes mappoolSceneIn {
    0% {
        opacity: 0;
        transform: translateX(-1920px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes bottomSceneOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(300px);
    }
}

@keyframes bottomSceneIn {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes topSceneOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-300px);
    }
}

@keyframes topSceneIn {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrollTextDelay {
    0% {
        transform: translateX(100%) translateY(-40px);
    }

    100% {
        transform: translateX(-100%) translateY(-40px);
    }
}

@keyframes addScore {
    0% {
        transform: scale(1);
        background-color: rgba(192, 255, 38, 0);
    }

    50% {
        transform: scale(1.2);
        background-color: rgba(192, 255, 38, 1);
    }

    100% {
        transform: scale(1);
        background-color: rgba(192, 255, 38, 1);
    }
}

@keyframes removeScore {
    from {
        background-color: rgba(192, 255, 38, 1);
    }

    to {
        background-color: rgba(192, 255, 38, 0);
    }
}

@keyframes pickingBob {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glow {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideUpMatch {
    0% {
        opacity: 0;
        transform: translateY(83px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDownMatch {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(83px);
    }
}

@keyframes slideUpMatchBottom {
    0% {
        transform: translateY(148px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideDownMatchBottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(148px);
    }
}

@keyframes scoreBob {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes winBar {
    0% {
        background-color: #c0ff26;
        width: 0%;
    }

    100% {
        background-color: #c0ff26;
        width: 100%;
    }
}

@keyframes loseBar {
    0% {
        background-color: black;
        width: 0%;
    }

    100% {
        background-color: black;
        width: 100%;
    }
}

@keyframes appearIn {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes appearOut {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0);
    }
}