@font-face {
    font-family: "Nohemi-Bold";
    src: url("../../../_shared_assets/fonts/StretchPro.otf");
}

@font-face {
    font-family: "Nohemi-ExtraBold";
    src: url("../../../_shared_assets/fonts/StretchPro.otf");
}

@font-face {
    font-family: "Nohemi-Light";
    src: url("../../../_shared_assets/fonts/StretchPro.otf");
}

@font-face {
    font-family: "Nohemi-Regular";
    src: url("../../../_shared_assets/fonts/StretchPro.otf");
}


* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    /* background: #000; */
    font-family: "Nohemi-Bold";
    overflow-x: auto;
    font-variant-ligatures: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 2220px;
    /* 1920 + 300 control panel */
    height: 1080px;
}

.video-area {
    position: relative;
    width: 1920px;
    height: 1080px;
    flex-shrink: 0;
}

.video-area video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bg {
    position: absolute;
    width:1920px;
    height:1080px;
    z-index:-1;
}

.timer {
    font-family: "Nohemi-Regular";
    position: absolute;
    /* transform: translateX(-50%); */
    width:1920px;
    height:1080px;
    display:flex;
    z-index:3;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    color: white;
    font-variant-ligatures: none;
}

.control-panel {
    width: 300px;
    height: 100%;
    background: #1a1a1a;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    font-family: "Nohemi-Bold";
    font-variant-ligatures: none;
}

.control-panel button {
    width: 100%;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    background: #333;
    border: none;
    color: white;
    border-radius: 8px;
    transition: background 0.3s;
    font-family: "Nohemi-Bold";
    font-weight:700;
    font-variant-ligatures: none;
}

.control-panel button:hover {
    background: #555;
}